table {
    color: whitesmoke;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: auto auto;
    width: 980px;
    height: 20px;
    border-color: #e2d692;
}


.cell {
    background-color: #b89c5b44;
}

.head {
    background-color: #e3852b;
}
